/*Sección About*/
section.about {
    text-align: start;
    padding: 10px 30px;
}

.about__title {
    padding: 10px 0px;
}

.about__firma {
    padding: 10px 0;
}

@media (min-width: 1100px) {
    section.about {
        padding: 10px 150px;
        width: 50vw;
    }

    .about__title {
        font-size: 32px;
    }
}