/*Sección Title*/
section.title {
    text-align: center;
}

.title__profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 15px;
}

.title__bio {
    padding: 25px 0;
}

.title__network {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.title__network__item {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.title__subsection {
    padding: 0 10px;
}

.fa-github-square {
    color: black;
    font-size: 30px;
    padding: 5px 0;
}

.fa-linkedin {
    color: #0e76a8;
    font-size: 30px;
    padding: 5px 0;
}

.fa-instagram-square {
    color: #d6249f;
    font-size: 30px;
    padding: 5px 0;
}

.fa-link {
    font-size: 30px;
    padding: 5px 0;
}

@media (min-width: 768px) {
    .title__div {
        display: flex;
        padding: 10px;
    }

    .title__profile {
        height: 200px;
        width: 200px;
    }

    .title__network {
        justify-content: space-around;
    }
}

@media (min-width: 1100px) {
    .title__div {
        padding: 0 80px;
    }

    .title__bio {
        font-size: 50px;
    }

    .title__subsection {
        font-size: 22px;
    }

    .title__profile {
        height: 366px;
        width: 366px;
    }
}